.row{
    @mixin atMedium{
        &__medium-4{
            float: left;
            width: 33.33%;
            &--larger{
                width: 37%;
            }
        }

        &__medium-8{
            float: left;
            width: 66.67%;
            &--smaller{
                width: 63%;
            }
        }
        &__medium-6{
            float: left;
            width: 50%;
        }

        &__b-margin-until-medium{
             margin-bottom: 1rem;
        }

    }

    &--gutters, &--guttrts-large, &--guttrts-small{
        margin-right: 0;
        > div{
            padding-right: 0;
        }
    }




&__b-margin-until-medium{
        margin-bottom: 1rem;
    }

    &--t-padding{
        padding-top: 80px;
    }

    @mixin atMedium{
        &--gutters{
            margin-right: -4rem;
            > div{
                padding-right: 4rem;
            }
        }

        &--gutters-large{
                 margin-right: -5rem;
            > div{
                padding-right: 5rem;
            }
        }

        &--gutters-small{
             margin-right: -3rem;
            > div{
                padding-right: 3rem;
            }
        }
    }

    &--equal-height-at-medium{
        @mixin atMedium{
            display: flex;
        }

        & > div{
            float: none;
            display: flex;
          }
     }

    @mixin clearfix;
}