.row{
    @mixin atMedium{
        &__medium-4{
            float: left;
            width: 33.33%;
            &--larger{
                width: 37%;
            }
        }

        &__medium-8{
            float: left;
            width: 66.67%;
            &--smaller{
                width: 63%;
            }
        }
        &__medium-6{
            float: left;
            width: 50%;
        }

        &__b-margin-until-medium{
             margin-bottom: 1rem;
        }

    }

    &--gutters{
        margin-right: 0;
        div{
            padding-right: 0;
        }
    }

    &--guttrts-large{
         margin-right: 0;
        div{
            padding-right: 0;
        }
     }


    &__b-margin-until-medium{
        margin-bottom: 1rem;
     }

    @mixin atMedium{

    &--gutters{
        margin-right: -4rem;
        div{
            padding-right: 4rem;
        }
    }

    &--guttrts-large{
             margin-right: -5rem;
        div{
            padding-right: 5rem;
        }
    }

    }

    @mixin clearfix;
}